<nav aria-label="Page navigation example">
    {% if page.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{ page.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for pages in page.paginator.page_range %}
                {% if page.number == pages %}
                    <li class="page-item active"><span class="page-link">{{ pages }}<span class="sr-only">(current)</span></span></li>
                {% else %} 
                    <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{ pages }}">{{ pages }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" aria-label="Previous" href="?page={{ page.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    {% endif %}
</nav>