{% extends "network/layout.html" %}

{% block body %}
<br><br>
    <div class="wrapper">
        <span class="heading">Profile for <strong>{{ username }}</strong></span>
    </div>
    
    <br><br>
    <div class="wrapper">       
        <span class="count">Followers: {{ followerCount }}</span>
    </div>
    <br>
    <div class="wrapper">
        <span class="count">Following: {{ followingCount }}</span>
    </div>
    <br><br>
    {% if isFollowing == False %}
        {% if user.username != username %}
            <form action="{% url 'profile' username %}" method="POST">
                {% csrf_token %}
                <div class="wrapper">
                    <button class="but post-button btn btn-success">Follow</button> 
                </div>
            </form>
        {% endif %}
    {% else %}
        {% if user.username != username %}
            <form action="{% url 'profile' username %}" method="POST">
                {% csrf_token %}
                <div class="wrapper">
                    <button class="but post-button btn btn-danger">Unfollow</button> 
                </div> 
            </form>
        {% endif %}
    {% endif %}
    <script>
        document.querySelector('.but').onclick = () => {
            window.location.href="{% url 'profile' username %}";
        };
    </script>
    <br><br>
    {% for tweet in usertweets %}
    <div class="card text-center">
        <br>
        <div class="card-text tweet-main-content">{{ tweet.content }}</div> posted on {{ tweet.timestamp }}
        <br><br>
    </div>
        <br>
    {% endfor %}
{% endblock %}